@model PersonViewModel
@{
    ViewData["Title"] = "Home Index";


}

<h1>Home Index</h1>

<form method="post" id="addPersonForms">
    <div class="form-group">
        <input class="form-control" asp-for="Person.Name" placeholder="Name" />
    </div>
    <div class="form-group">
        <input class="form-control" asp-for="Person.Number" placeholder="Phone" />
    </div>
    <div class="form-group">
        <input class="form-control" asp-for="Person.City" placeholder="City" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-outline-primary px-5" value="Add User" />
    </div>
</form>

<form asp-controller="Home" asp-action="Index" class="form-inline my-3">
    <p class="ml-auto">
        Title: <input class="form-control" type="text" name="searchString">
        <input class="btn btn-success" type="submit" value="Filter" />
    </p>
</form>
<div id="person_form"></div>

@await Html.PartialAsync("_People", Model.People)




